.vl-bg-color{
  background:#f3f6f8;
}
.vl-panel-nav,.vl-panel-nav-h{
    position: relative;
    top: 20px;
    height: 133px;
}
.vl-panel-nav-h{
  height:63px;
}
.vl-panel-nav ul{
  padding:0;
  list-style:none;
  margin-top: 51px;
}
.vl-btn-login.vl-wt-clr{
  color:#f3f6f8;
}
.vl-tip-span {
    width: 100%;
    height: 37px;
    overflow: hidden;
    display: inline-block;
}
.viewerholder {
  background: #ffffff;
  padding: 10px;
}
.vl-garage-card {
  background: #ffffff;
  width: 24%;
  float:left;
  margin-left: 10px;
  padding: 10px;
  margin-top: 14px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 8px -3px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 3px 8px -3px rgba(0,0,0,0.1);
box-shadow: 0px 3px 8px -3px rgba(0,0,0,0.1);
}
.vl-user-card {
    background: #ffffff;
    padding: 10px;
    margin-top: 14px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 8px -3px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 3px 8px -3px rgba(0,0,0,0.1);
box-shadow: 0px 3px 8px -3px rgba(0,0,0,0.1);
}
.vl-user-card ul,.vl-garage-card ul{
  padding:0;
  list-style:none;
}
.vl-user-card ul li span,.vl-garage-card ul li span{
  color:#687984;
  font-size:12px;
}
.viewerholder ul{
  padding:0px;
}
.viewerholder ul li{
  display: inline-block;
  margin-left: 10px;
  color: #28a745;
}
.vl-2-border {
    border-left: 1px solid rgba(90, 83, 57, 0.19);
    border-right: 1px solid rgba(90, 83, 57, 0.19);
}
.vl-1-border{
  border-right: 1px solid rgba(90, 83, 57, 0.19);
}
.vl-user-card ul li span.vl-name,.vl-garage-card ul li span.vl-name{
  color:#5a5339;
  font-size:1rem;
  font-weight:500;
}
.vl-user-list-holder {
  height: 520px;
  padding: 10px;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 3px 8px -3px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0px 3px 8px -3px rgba(0,0,0,0.4);
  box-shadow: inset 0px 3px 8px -3px rgba(0,0,0,0.4);
}
.vl-user-list-holder-list{
  height: 520px;
  padding: 10px;
  -webkit-box-shadow: inset 0px 3px 8px -3px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0px 3px 8px -3px rgba(0,0,0,0.4);
  box-shadow: inset 0px 3px 8px -3px rgba(0,0,0,0.4);
}
.vl-user-list-holder:hover{
  overflow-y: scroll;
}
.vl-panel-nav ul li{
  display:inline-block;
}
.vl-panel-nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  background: #5a5339;
}
.vl-panel-body {
    background-color: #ffffff;
    padding: 34px;
    -webkit-box-shadow: 0px 3px 8px -3px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 3px 8px -3px rgba(0,0,0,0.1);
box-shadow: 0px 3px 8px -3px rgba(0,0,0,0.1);
}
.vl-map-holder{
  width:100%;
  height:100%;
}
#vl-map-container{
  background-image:url('../img/GoogleMapTA.jpg');
  height: 100%;
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.vl-card {
  background: #5a5339;
  color: #ffffff;
  padding: 18px;
  border-radius: 9px;
}
.vl-card p {
    height: 118px;
    overflow: hidden;
    padding: 3px;
}
.vl-account-pane {
    background: #5a5339;
    position: fixed;
    top: 0;
    width: 6%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow:hidden;
    transition:.3s;
    -webkit-box-shadow: 25px 8px 46px -20px rgba(0,0,0,0.44);
    -moz-box-shadow: 25px 8px 46px -20px rgba(0,0,0,0.44);
    box-shadow: 25px 8px 46px -20px rgba(0,0,0,0.44);
}
.vl-account-pane-open{
  width:100%;
  transition:.3s;
}
.vl-close-btn-pane{
  display:block;
}
#vl-open-btn-holder {
    padding: 10px;
}
.vl-hader-bar{
  padding:10px;
}
.vl-info-list{
  float:right;
}
.vl-hader-bar ul {
    padding: 0;
    list-style:none;
}
.vl-hader-bar ul li{
  display:inline-block;
}
.vl-hader-bar ul li{
  color:#c16a63;
}
.vl-btn-outline{
  border:1px solid #c16a63;
  background:#5a5339;
  color:#ffffff;
  margin-top:10px;
}
.vl-content{
  display:none;
}
.vl-all-form{
  display:none;
}
.vl-content-open{
  display:block;
}
#driverLogin{
  display:none;
}
.pop-container {
  background: #ebebe9e3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding: 52px;
  display: none;
}
.vl-form-wrapper{
  position:relative;
  top:20%;
}
.vl-form-wrapper h5 {
    color: #c16a63;
}
.vl-input-underline {
    background: #5a5339;
    outline: none;
    color:#ffffff;
    border: 1px solid #c16a63;
}
.vl-btn-login {
    background: #c16a63;
    border: none;
    color: #5a5339;
    height: 50px;
    font-size: 23px;
}
.vl-profile-tab {
    display: inline-block;
    /* float: right; */
    top: 0;
    position: absolute;
    right: 0;
    padding:20px;
}
.profileholder .vl-profile-tab{
  top:-22px;
}
.vl-profile-tab ul{
  list-style:none;
  padding:0;
}
.vl-profile-tab ul li{
  display:inline-block;
  margin-left: 16px;
}
.vl-Error {
    position: absolute;
    z-index: 99;
    right: 0;
    padding: 10px;
    background: red;
    color: white;
    width: 259px;
    top: 7px;
    font-size: 12px;
}
