.vl-map-holder{
  width:100%;
  height:100%;
}
#vl-map-container{
  background-image:url('../img/GoogleMapTA.jpg');
  height: 100%;
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.vl-card {
  background: #5a5339;
  color: #ffffff;
  padding: 18px;
  border-radius: 9px;
}
.vl-card p {
    height: 118px;
    overflow: hidden;
    padding: 3px;
}
.vl-account-pane {
    background: #5a5339;
    position: fixed;
    top: 0;
    width: 6%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow:hidden;
    transition:.3s;
}
.vl-account-pane-open{
  width:100%;
  transition:.3s;
}
.vl-close-btn-pane{
  display:block;
}
#vl-open-btn-holder {
    padding: 10px;
}
.vl-hader-bar{
  padding:10px;
}
.vl-info-list{
  float:right;
}
.vl-hader-bar ul {
    padding: 0;
    list-style:none;
}
.vl-hader-bar ul li{
  display:inline-block;
}
.vl-hader-bar ul li{
  color:#c16a63;
}
.vl-btn-outline{
  border:1px solid #c16a63;
  background:#5a5339;
  color:#ffffff;
}
.vl-content{
  display:none;
}
.vl-all-form{
  display:none;
}
.vl-content-open{
  display:block;
}
.vl-form-wrapper{
  position:relative;
  top:20%;
}
.vl-form-wrapper h5 {
    color: #c16a63;
}
.vl-input-underline {
    background: #5a5339;
    outline: none;
    border: 1px solid #c16a63;
}
.vl-btn-login {
    background: #c16a63;
    border: none;
    color: #5a5339;
    height: 50px;
    font-size: 23px;
}
